.CinemaListWrapper {
    .CinemaList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .btnDirections {
        text-align: center;
        button {
            background: rgb(0, 89, 255);
            color: white;
            border: none;
            margin: 10px 5px 0 5px;
        }
    }

}