
.CinemaListWrapper {
    .CinemaList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .btnDirections {
        text-align: center;
        button {
            background: #4b6aa2;
            cursor: pointer;
            color: white;
            border: none;
            margin: 10px 5px 0 5px;
            &:focus,
            &:active {
                outline: none;
            }
        }
    }
}