footer {
    padding: 10px;
    text-align: center;
    background: #104672;
    color: white;
}
.content {
    position: relative;
    max-width: 53.125rem;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}