.content {
    position: relative;
    max-width: 53.125rem;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}
header {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
}

// animation
.cinemaDetailsEnter {
    opacity: 0.01;
}
.cinemaDetailsEnter.cinemaDetailsEnterActive {
    opacity: 1;
    transition: opacity 2000ms ease-in;
}
.cinemaDetailsExit {
    opacity: 1;
}
.cinemaDetailsExitActive {
    opacity: 0.01;
    transition: opacity 2000ms ease-in;
}