.content {
    position: relative;
    max-width: 53.125rem;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}
header {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
}
.iconWrapper {
    text-align: center;
    position: fixed;
    top: 100px;
    left: 45%;
}
.blue {
    color: rgb(0, 132, 255);
}